@import './index.css';

.blog-post {
  font-family: var(--fontfamily-sans);
}

/* stylelint-disable selector-no-type */

html {
  font-size: 18px;
  line-height: var(--text-line-height-sans-on-step-0);
}

body {
  background: #fff;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

/* stylelint-enable selector-no-type */

.component-panel {
  overflow: hidden;
}
