@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-grid';
@import '@economist/component-icon/backgrounds/balloon.css';
@import 'settings.css';
@import 'sharebar.css';
@import 'comments.css';

.blog-post {
  font-family: var(--fontfamily-sans);
  font-size: var(--text-size-step-0, 1rem);
  line-height: var(--text-line-height-sans-on-step-0);
}

.blog-post__image {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: var(--blog-post-image-spacing, var(--grid-spacing-sheep));
  padding: 0;  /* Resetting default browser styles */
}

.blog-post__image-block {
  display: block;  /* Because if it was inline it would have a line-height */
  width: 100%;
  height: auto;
  border: medium none;
}

.blog-post__image-caption {
  margin-top: var(--grid-spacing-hedgehog);
  color: var(--blog-post-color-image-caption, var(--color-moscow));
  font-family: var(--blog-post__image-caption-font-family, var(--fontfamily-sans));
  font-size: var(--text-size-step--3);
  letter-spacing: var(--text-letter-spacing-sans-light-on-step--2);
  line-height: var(--text-line-height-sans-light-on-step--2);
}

.blog-post__flytitle {
  margin: 0 0 var(--blog-post-flytitle-spacing, var(--grid-spacing-mouse)) 0;
  color: var(--blog-post-color-flytitle, var(--color-economist));
  font-size: var(--text-size-step--1);
  font-weight: normal;
  line-height: var(--text-line-height-sans-light-on-step--1);
}

.blog-post__title {
  margin: 0 0 var(--blog-post-title-spacing, var(--grid-spacing-rabbit)) 0;
  color: var(--blog-post-color-title, var(--color-beijing));
  font-family: var(—blog-post__title-font-family, var(--fontfamily-serif));
  font-size: var(--text-size-step-5);
  font-weight: 500;
  letter-spacing: var(--text-letter-spacing-serif-medium-on-step-5);
  line-height: var(--text-line-height-serif-medium-on-step-5);
}

.blog-post__text,
.blog-post__rubric {
  color: var(--blog-post-color-text, var(--color-beijing));
  font-family: var(—-blog-post__text-rubric-font-family, var(--fontfamily-serif));
  font-size: var(--text-size-step-0);
}

.blog-post__rubric {
  margin: 0 0 var(--blog-post-rubric-spacing, var(--grid-spacing-fox)) 0;
  font-style: italic;
  line-height: var(--text-line-height-serif-on-step-0);
}

.blog-post__text {
  margin-top: var(--blog-post-text-top-margin, var(--grid-spacing-sheep));
  line-height: var(--blog-post__text-line-height, 1.6);
}

.blog-post__datetime,
.blog-post__byline-container {
  color: var(--blog-post-color-datetime, var(--color-moscow));
  font-size: var(--text-size-step--3);
  letter-spacing: var(--text-letter-spacing-sans-light-on-step--2);
  line-height: var(--text-line-height-sans-light-on-step--2);
}

.blog-post__byline-container {
  margin: 0;
  font-family: var(—-blog-post__byline-container-font-family, var(--fontfamily-serif));
  font-style: italic;
}

.blog-post__datetime {
  font-family: var(—-blog-post__datetime-font-family, var(--fontfamily-sans));
  font-weight: 300;
}

.blog-post__section {
  margin: var(--blog-post-section-spacing, var(--grid-spacing-hedgehog)) 0;
  color: var(--blog-post-color-section, var(--color-beijing));
  font-size: var(--text-size-step--2);
  font-weight: normal;
  line-height: var(--text-line-height-sans-on-step--2);
}

/* stylelint-disable selector-no-type */

.blog-post__section-link, .blog-post__text a {
  transition: color 101ms ease;
  transition-property: color, border-bottom-color;
}

/* stylelint-enable selector-no-type */

.blog-post__section-link {
  color: var(--blog-post-color-section-link, inherit);
  text-decoration: none;
}

.blog-post__section-link:hover {
  color: var(--blog-post-color-section-link-hover, var(--color-chicago));
}

.blog-post__section-link:visited {
  color: inherit;
}

/* stylelint-disable selector-no-type */

.blog-post__text a {
  color: var(--blog-post-color-link-underline, inherit);
  text-decoration: none;
  border-bottom: 1px solid var(--blog-post-color-link-underline, var(--color-moscow));
}

.blog-post__text a:visited,
.blog-post__text a:hover {
  color: var(--blog-post-color-link-visited, var(--color-chicago));
  border-bottom-color: var(--blog-post-color-link-visited, var(--color-chicago));
}

@media screen and (min-width: 593px) {
  .blog-post__image-block {
    float: left;
    margin-right: 1em;
  }
}

.blog-post__text blockquote {
  margin: var(--grid-spacing-sheep) var(--grid-spacing-fox);
  color: var(--blog-post-color-blockquote, var(--color-moscow));
  font-family: var(—-blog-post__blockquote-font-family, var(--fontfamily-serif));
  font-style: italic;
}

.blog-post__text blockquote > :first-child {
  position: relative;
  text-indent: 1em;
}

.blog-post__text blockquote > :first-child::before,
.blog-post__text blockquote > :last-child::after {
  content: '\201D';
  display: inline;
  position: absolute;
  color: var(--blog-post-color-blockquote-quotes, var(--color-london));
  font-family: var(—-blog-post__blockquote-quotes-font-family, var(--fontfamily-serif));
  font-size: var(--text-size-step-3);
  font-weight: bold;
  line-height: var(--text-line-height-serif-on-step-3);
  text-indent: 0;
}

.blog-post__text blockquote > :first-child::before {
  content: '\201C';
  left: var(--grid-spacing-mouse);
  margin-top: calc(var(--grid-spacing-mouse) * -1);
}

.blog-post__text blockquote > :last-child::after {
  margin-top: 0.2em;
}

/* stylelint-enable selector-no-type */

.blog-post__asideable-content {
  display: flex;
  padding: var(--grid-spacing-hedgehog) 0 var(--grid-spacing-hedgehog) 0;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid var(--color-berlin);
  border-bottom: 1px solid var(--color-berlin);
}

@media (--navigation-big-desktop-up) {
  .main-content__blog-post .blog-post__asideable-content {
    padding-left: 0;
    border-bottom: none;
  }
  .blog-post__section-date-author {
    width: 100%;
    padding-bottom: var(--grid-spacing-rabbit);
    padding-left: var(--grid-gutter-xs);
    border-bottom: 1px solid var(--color-berlin);
  }
}
